html * {
    font-family: sans-serif;
    color: white;
}

body {
    background: linear-gradient(to right bottom, #FF4444, #000000);
    background-attachment: fixed;
}

#header {
    background-color: white;
    border-radius: 20px;
}

th.header {
    color: black;
    font-size: xx-large;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

th.tab {
    padding: 20px;
    cursor: pointer;
    font-size: large;
    color: black;
    display: inline-block;
    border-radius: 20px;
}

th.logo {
    cursor: pointer;
}

table.header {
    border-spacing: 30px;
}

div.section {
    padding: 20px;
    display: none;
}

div[type=infographic] {
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

div.footer {
    padding: 20px;
}

iframe {
    border: 0;
}

input {
    color: #000000;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 100%;
    background-color: #FF7777;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type=small] {
    background-color: #FF7777;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


button:hover {
    background-color: #FF4444;
}